@import '/styles/app';

.navbar {
  width: 100%;
  padding: 10px max(17px, 5%);
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}

.navbar_scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(220, 220, 220, 0.9);
  a {
    @include media-breakpoint-up('lg') {
      color: $text-dark !important;
    }
  }

  a[role='button'] {
    color: white !important;
  }
}

.navbar_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar_brand_container {
  display: flex;
  align-self: flex-start;
}

.navbar_toggle {
  margin-right: 10px;
  > span {
    width: 1rem;
  }
}

.collapsed {
  @include media-breakpoint-down('lg') {
    filter: invert(1);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 101;
  }
}

.navbar_collapse {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @include media-breakpoint-down('lg') {
    position: absolute;
    left: 0;
    width: 100vw;
    top: 0;
    background-color: rgba($primary, 0.8);
    backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    justify-content: center;
  }
}

.navbar_nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white !important;
  font-weight: 600;
  font-size: 13.5px;
  letter-spacing: 0.5px;

  a:hover {
    color: whitesmoke;
  }

  @include media-breakpoint-down('xl') {
    font-size: 12px;
  }

  button,
  a {
    font-size: 13.5px;
    font-weight: 600;
    margin: 0 3px;
    letter-spacing: 0.5px;
    color: white;

    @include media-breakpoint-down('xl') {
      font-size: 12px;
    }
  }
}
