.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px max(17px, 5%);
  background: center center / cover no-repeat white
    url('/images/waves/quote.png');
  background: url('/images/waves/quote.svg') no-repeat center center;
  height: 976px;
}

.buttons_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  a,
  button {
    width: fit-content;
  }
}

.form {
  display: grid;
  grid: 1fr 1fr auto auto / 50% 50%;
  gap: 10px;
}
