@import '~bootstrap/scss/functions.scss';
@import '~bootstrap/scss/mixins.scss';

$primary: #1877f2;
$secondary: #8540f5;
$text-light: #68717a !default;
$text-dark: #525252 !default;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'text-dark': $text-dark,
  'text-light': $text-light,
);

@import '~bootstrap/scss/variables.scss';
