@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$text-dark: #525252;
$text-light: #68717a;
$primary: #1877f2;
$secondary: #8540f5;

$theme-colors: (
  'primary': $secondary,
  'secondary': $primary,
  'text-dark': $text-dark,
  'info': $info,
);
