@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import 'app';
@import '~bootstrap/scss/bootstrap.scss';

* {
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.4rem;
  --bs-btn-font-weight: 600;
  --bs-btn-border-radius: 0.25rem;
  --bs-btn-font-size: 0.9rem;
  --bs-btn-border-width: 2px;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: white;
}

@keyframes float-animation {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-4px);
  }
}

.particle {
  animation: float-animation 5s ease-in-out infinite alternate;
}

.particle-delay-1 {
  animation-delay: -1s;
}
.particle-delay-2 {
  animation-delay: -2s;
}

.particle-delay-3 {
  animation-delay: -3s;
}

.particle-delay-4 {
  animation-delay: -4s;
}
