@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
* {
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.5rem;
  --bs-btn-font-weight: 600;
  --bs-btn-border-radius: 0.25rem;
  --bs-btn-font-size: 0.9rem;
  --bs-btn-border-width: 2px;
}
