.arrow_appear {
    animation: arrow-appear-animation 1s cubic-bezier(0.12, 1.12, 0.65, 0.46);
    animation-fill-mode: forwards;
    transform-origin: center center;
}

.ring_appear {
    animation: ring-appear-animation 3s cubic-bezier(0.14, 0.65, 0.9, 0.61);
    animation-fill-mode: forwards;
    animation-delay: 0.9s;
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
}

.text_appear path {
    animation: text-appear-animation 0.7s cubic-bezier(0.76, 1.01, 0.88, 0.89);
    animation-fill-mode: forwards;
    animation-delay: 0.8s;
    clip-path: circle(0% at left center);
}

@keyframes text-appear-animation {
    0% {
        /* opacity: 0; */
        /* transform-origin: center center; */
        /* transform: translateX(-100%); */
        clip-path: circle(0% at left center);
    }
    100% {
        clip-path: circle(200% at left center);
        /* opacity: 1; */
        /* transform: transformX(0); */
    }
}

@keyframes ring-appear-animation {
    0% {
        stroke-dashoffset: 3000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes arrow-appear-animation {
    0% {
        clip-path: circle(0% at center center);
        transform: scale(0.6);
    }
    100% {
        clip-path: circle(100% at center center);
        transform: scale(1);
    }
}
