@import '/styles/app';

.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  padding: 50px max(17px, 5%);
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 50px max(17px, 5%);
}

.row {
  column-gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding: 50px max(17px, 5%);
  @include media-breakpoint-down('lg') {
    flex-direction: column;
  }
}

.col_reverse {
  @include media-breakpoint-down('lg') {
    flex-direction: column-reverse;
  }
}

.item_img {
  z-index: 50;
  width: 300px;

  @include media-breakpoint-down('xl') {
    width: 250px;
  }

  @include media-breakpoint-down('lg') {
    width: 300px;
    margin-bottom: 30px;
  }
  @include media-breakpoint-down('sm') {
    width: 170px;
    margin-bottom: 30px;
  }
}

.item_text_container {
  width: 500px;

  @include media-breakpoint-down('xl') {
    width: 420px;
  }

  @include media-breakpoint-down('lg') {
    width: 80%;
  }
  @include media-breakpoint-down('sm') {
    width: 100%;
  }
}

.item_text_title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;

  @include media-breakpoint-down('xl') {
    font-size: 20px;
  }
}

.item_text_subtitle {
  font-size: 16px;
  font-weight: 600;
  @include media-breakpoint-down('xl') {
    font-size: 14px;
  }
}

.item_text {
  font-size: 16px;
  @include media-breakpoint-down('xl') {
    font-size: 14px;
  }
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & button {
    margin: 7px 0;
  }
}

.shape_circle {
  position: absolute;
  right: -100px;
  top: 80px;
  width: 400px;
  height: 400px;
  pointer-events: none;

  @include media-breakpoint-down('xl') {
    width: 300px;
    height: 300px;
  }
  @include media-breakpoint-down('md') {
    display: none;
  }
}
.shape_triangle {
  position: absolute;
  left: -150px;
  top: 560px;
  width: 400px;
  height: 400px;
  pointer-events: none;

  @include media-breakpoint-down('xl') {
    width: 300px;
    height: 300px;
  }

  @include media-breakpoint-down('lg') {
    top: 800px;
  }
  @include media-breakpoint-down('md') {
    display: none;
  }
}
.shape_square {
  position: absolute;
  pointer-events: none;

  right: -100px;
  top: 1000px;
  width: 400px;
  height: 400px;
  @include media-breakpoint-down('xl') {
    width: 300px;
    height: 300px;
  }

  @include media-breakpoint-down('lg') {
    top: 1400px;
  }
  @include media-breakpoint-down('md') {
    display: none;
  }
}
.shape_pentagon {
  pointer-events: none;

  position: absolute;
  left: -150px;
  top: 1350px;
  width: 300px;
  height: 300px;

  @include media-breakpoint-down('lg') {
    top: 2400px;
  }

  @include media-breakpoint-down('md') {
    display: none;
  }
}
